<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>生成用户-播放，歌曲-播放数据集</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body { padding: 20px; }
    </style>
</head>
<body>
    <form id="playcountsForm" enctype="multipart/form-data">
        <div class="form-group">
            <label for="playRecordsFile">上传播放记录CSV文件:</label>
            <input type="file" class="form-control-file" id="playRecordsFile" name="play_records_file" accept=".csv" required>
        </div>
       <div class="form-group">
                <label for="songPlaycountsFile">歌曲播放记录csv输出路径:</label>
                <input type="text" class="form-control" id="songPlaycountsFile" name="song_playcounts_file" placeholder="E:/music/play_records/song_playcount_df.csv" required>
            </div>
            <div class="form-group">
                <label for="userPlaycountsFile">用户播放记录csv输出路径:</label>
                <input type="text" class="form-control" id="userPlaycountsFile" name="user_playcounts_file"  placeholder="E:/music/play_records/user_playcount_df.csv" required>
            </div>
        <button type="submit" class="btn btn-primary">生成播放次数数据</button>
    </form>
    <p id="statusMessage"></p>

    <script>
        document.getElementById('playcountsForm').addEventListener('submit', function(event) {
            event.preventDefault();

            // 创建FormData对象并添加文件
            const formData = new FormData(event.target);

            // 发送POST请求到后端
            fetch('/generate_playcounts_data', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('statusMessage').innerText = data.message;
                alert(data.message);
                //跳转回首页index
                goToIndexImmediately()
            })
            .catch(error => {
                document.getElementById('statusMessage').innerText = "请求失败，请检查网络连接或文件上传是否有误。";
                console.error("Error:", error);
            });
        });
        function goToIndexImmediately() {
        window.location.href = "/"; // 或者使用具体的首页URL
    }
    </script>
</body>
</html>